In [128]:
!pip install -U openai sqlalchemy psycopg2 pandas tabulate

Requirement already satisfied: openai in /Users/pedropacheco1/Documents/Projetos/Sports/Padel League/padelleague/.venv/lib/python3.11/site-packages (2.8.1)
Requirement already satisfied: sqlalchemy in /Users/pedropacheco1/Documents/Projetos/Sports/Padel League/padelleague/.venv/lib/python3.11/site-packages (2.0.44)
Requirement already satisfied: psycopg2 in /Users/pedropacheco1/Documents/Projetos/Sports/Padel League/padelleague/.venv/lib/python3.11/site-packages (2.9.11)
Requirement already satisfied: pandas in /Users/pedropacheco1/Documents/Projetos/Sports/Padel League/padelleague/.venv/lib/python3.11/site-packages (2.3.3)
Requirement already satisfied: tabulate in /Users/pedropacheco1/Documents/Projetos/Sports/Padel League/padelleague/.venv/lib/python3.11/site-packages (0.9.0)
Requirement already satisfied: anyio<5,>=3.5.0 in /Users/pedropacheco1/Documents/Projetos/Sports/Padel League/padelleague/.venv/lib/python3.11/site-packages (from openai) (4.11.0)
Requirement already satisfied: distro<2,>=1.7.0 in /Users/pedropacheco1/Documents/Projetos/Sports/Padel League/padelleague/.venv/lib/python3.11/site-packages (from openai) (1.9.0)
Requirement already satisfied: httpx<1,>=0.23.0 in /Users/pedropacheco1/Documents/Projetos/Sports/Padel League/padelleague/.venv/lib/python3.11/site-packages (from openai) (0.28.1)
Requirement already satisfied: jiter<1,>=0.10.0 in /Users/pedropacheco1/Documents/Projetos/Sports/Padel League/padelleague/.venv/lib/python3.11/site-packages (from openai) (0.12.0)
Requirement already satisfied: pydantic<3,>=1.9.0 in /Users/pedropacheco1/Documents/Projetos/Sports/Padel League/padelleague/.venv/lib/python3.11/site-packages (from openai) (2.12.4)
Requirement already satisfied: sniffio in /Users/pedropacheco1/Documents/Projetos/Sports/Padel League/padelleague/.venv/lib/python3.11/site-packages (from openai) (1.3.1)
Requirement already satisfied: tqdm>4 in /Users/pedropacheco1/Documents/Projetos/Sports/Padel League/padelleague/.venv/lib/python3.11/site-packages (from openai) (4.67.1)
Requirement already satisfied: typing-extensions<5,>=4.11 in /Users/pedropacheco1/Documents/Projetos/Sports/Padel League/padelleague/.venv/lib/python3.11/site-packages (from openai) (4.15.0)
Requirement already satisfied: idna>=2.8 in /Users/pedropacheco1/Documents/Projetos/Sports/Padel League/padelleague/.venv/lib/python3.11/site-packages (from anyio<5,>=3.5.0->openai) (3.10)
Requirement already satisfied: certifi in /Users/pedropacheco1/Documents/Projetos/Sports/Padel League/padelleague/.venv/lib/python3.11/site-packages (from httpx<1,>=0.23.0->openai) (2025.8.3)
Requirement already satisfied: httpcore==1.* in /Users/pedropacheco1/Documents/Projetos/Sports/Padel League/padelleague/.venv/lib/python3.11/site-packages (from httpx<1,>=0.23.0->openai) (1.0.9)
Requirement already satisfied: h11>=0.16 in /Users/pedropacheco1/Documents/Projetos/Sports/Padel League/padelleague/.venv/lib/python3.11/site-packages (from httpcore==1.*->httpx<1,>=0.23.0->openai) (0.16.0)
Requirement already satisfied: annotated-types>=0.6.0 in /Users/pedropacheco1/Documents/Projetos/Sports/Padel League/padelleague/.venv/lib/python3.11/site-packages (from pydantic<3,>=1.9.0->openai) (0.7.0)
Requirement already satisfied: pydantic-core==2.41.5 in /Users/pedropacheco1/Documents/Projetos/Sports/Padel League/padelleague/.venv/lib/python3.11/site-packages (from pydantic<3,>=1.9.0->openai) (2.41.5)
Requirement already satisfied: typing-inspection>=0.4.2 in /Users/pedropacheco1/Documents/Projetos/Sports/Padel League/padelleague/.venv/lib/python3.11/site-packages (from pydantic<3,>=1.9.0->openai) (0.4.2)
Requirement already satisfied: numpy>=1.23.2 in /Users/pedropacheco1/Documents/Projetos/Sports/Padel League/padelleague/.venv/lib/python3.11/site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/pedropacheco1/Documents/Projetos/Sports/Padel League/padelleague/.venv/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/pedropacheco1/Documents/Projetos/Sports/Padel League/padelleague/.venv/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/pedropacheco1/Documents/Projetos/Sports/Padel League/padelleague/.venv/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/pedropacheco1/Documents/Projetos/Sports/Padel League/padelleague/.venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: pip install --upgrade pip

In [2]:
!psql -U postgres -h localhost -c "DROP DATABASE IF EXISTS padel_league_local;"
!psql -U postgres -h localhost -c "CREATE DATABASE padel_league_local OWNER padel_user_local;"

DROP DATABASE
CREATE DATABASE

In [3]:
!pg_restore -h localhost -U padel_user_local -d padel_league_local -v padel_league_backup.dump

pg_restore: connecting to database for restore
pg_restore: creating TYPE "public.prefered_hand_enum"
pg_restore: while PROCESSING TOC:
pg_restore: from TOC entry 735; 1247 16656 TYPE prefered_hand_enum padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TYPE public.prefered_hand_enum OWNER TO padel_user;

pg_restore: creating TYPE "public.prefered_position_enum"
pg_restore: from TOC entry 738; 1247 16662 TYPE prefered_position_enum padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TYPE public.prefered_position_enum OWNER TO padel_user;

pg_restore: creating TYPE "public.teams"
pg_restore: from TOC entry 741; 1247 16670 TYPE teams padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TYPE public.teams OWNER TO padel_user;

pg_restore: creating TABLE "public.alembic_version"
pg_restore: from TOC entry 245; 1259 16856 TABLE alembic_version padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.alembic_version OWNER TO padel_user;

pg_restore: creating TABLE "public.backend_app"
pg_restore: from TOC entry 225; 1259 16707 TABLE backend_app padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.backend_app OWNER TO padel_user;

pg_restore: creating SEQUENCE "public.backend_app_id_seq"
pg_restore: from TOC entry 224; 1259 16705 SEQUENCE backend_app_id_seq padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.backend_app_id_seq OWNER TO padel_user;

pg_restore: creating SEQUENCE OWNED BY "public.backend_app_id_seq"
pg_restore: creating SEQUENCE "public.divisions_id_seq"
pg_restore: from TOC entry 234; 1259 16790 SEQUENCE divisions_id_seq padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.divisions_id_seq OWNER TO padel_user;

pg_restore: creating TABLE "public.divisions"
pg_restore: from TOC entry 200; 1259 16553 TABLE divisions padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.divisions OWNER TO padel_user;

pg_restore: creating SEQUENCE "public.editions_id_seq"
pg_restore: from TOC entry 235; 1259 16793 SEQUENCE editions_id_seq padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.editions_id_seq OWNER TO padel_user;

pg_restore: creating TABLE "public.editions"
pg_restore: from TOC entry 201; 1259 16559 TABLE editions padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.editions OWNER TO padel_user;

pg_restore: creating TABLE "public.imageables"
pg_restore: from TOC entry 221; 1259 16683 TABLE imageables padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.imageables OWNER TO padel_user;

pg_restore: creating SEQUENCE "public.imageables_imageable_id_seq"
pg_restore: from TOC entry 220; 1259 16681 SEQUENCE imageables_imageable_id_seq padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.imageables_imageable_id_seq OWNER TO padel_user;

pg_restore: creating SEQUENCE OWNED BY "public.imageables_imageable_id_seq"
pg_restore: creating TABLE "public.images"
pg_restore: from TOC entry 223; 1259 16691 TABLE images padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.images OWNER TO padel_user;

pg_restore: creating SEQUENCE "public.images_id_seq"
pg_restore: from TOC entry 222; 1259 16689 SEQUENCE images_id_seq padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.images_id_seq OWNER TO padel_user;

pg_restore: creating SEQUENCE OWNED BY "public.images_id_seq"
pg_restore: creating SEQUENCE "public.leagues_id_seq"
pg_restore: from TOC entry 236; 1259 16796 SEQUENCE leagues_id_seq padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.leagues_id_seq OWNER TO padel_user;

pg_restore: creating TABLE "public.leagues"
pg_restore: from TOC entry 202; 1259 16565 TABLE leagues padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.leagues OWNER TO padel_user;

pg_restore: creating SEQUENCE "public.matches_id_seq"
pg_restore: from TOC entry 237; 1259 16799 SEQUENCE matches_id_seq padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.matches_id_seq OWNER TO padel_user;

pg_restore: creating TABLE "public.matches"
pg_restore: from TOC entry 203; 1259 16571 TABLE matches padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.matches OWNER TO padel_user;

pg_restore: creating SEQUENCE "public.news_id_seq"
pg_restore: from TOC entry 240; 1259 16811 SEQUENCE news_id_seq padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.news_id_seq OWNER TO padel_user;

pg_restore: creating TABLE "public.news"
pg_restore: from TOC entry 204; 1259 16577 TABLE news padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.news OWNER TO padel_user;

pg_restore: creating SEQUENCE "public.order_lines_id_seq"
pg_restore: from TOC entry 219; 1259 16678 SEQUENCE order_lines_id_seq padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.order_lines_id_seq OWNER TO padel_user;

pg_restore: creating TABLE "public.order_lines"
pg_restore: from TOC entry 205; 1259 16590 TABLE order_lines padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.order_lines OWNER TO padel_user;

pg_restore: creating SEQUENCE "public.orders_id_seq"
pg_restore: from TOC entry 218; 1259 16675 SEQUENCE orders_id_seq padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.orders_id_seq OWNER TO padel_user;

pg_restore: creating TABLE "public.orders"
pg_restore: from TOC entry 206; 1259 16596 TABLE orders padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.orders OWNER TO padel_user;

pg_restore: creating SEQUENCE "public.players_id_seq"
pg_restore: from TOC entry 238; 1259 16805 SEQUENCE players_id_seq padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.players_id_seq OWNER TO padel_user;

pg_restore: creating TABLE "public.players"
pg_restore: from TOC entry 208; 1259 16605 TABLE players padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.players OWNER TO padel_user;

pg_restore: creating SEQUENCE "public.players_in_division_id_seq"
pg_restore: from TOC entry 233; 1259 16786 SEQUENCE players_in_division_id_seq padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.players_in_division_id_seq OWNER TO padel_user;

pg_restore: creating TABLE "public.players_in_division"
pg_restore: from TOC entry 210; 1259 16617 TABLE players_in_division padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.players_in_division OWNER TO padel_user;

pg_restore: creating SEQUENCE "public.players_in_match_id_seq"
pg_restore: from TOC entry 230; 1259 16777 SEQUENCE players_in_match_id_seq padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.players_in_match_id_seq OWNER TO padel_user;

pg_restore: creating TABLE "public.players_in_match"
pg_restore: from TOC entry 211; 1259 16620 TABLE players_in_match padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.players_in_match OWNER TO padel_user;

pg_restore: creating SEQUENCE "public.product_attribute_values_id_seq"
pg_restore: from TOC entry 227; 1259 16767 SEQUENCE product_attribute_values_id_seq padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.product_attribute_values_id_seq OWNER TO padel_user;

pg_restore: creating TABLE "public.product_attribute_values"
pg_restore: from TOC entry 212; 1259 16626 TABLE product_attribute_values padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.product_attribute_values OWNER TO padel_user;

pg_restore: creating SEQUENCE "public.product_attribute_values_in_product_id_seq"
pg_restore: from TOC entry 231; 1259 16780 SEQUENCE product_attribute_values_in_product_id_seq padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.product_attribute_values_in_product_id_seq OWNER TO padel_user;

pg_restore: creating TABLE "public.product_attribute_values_in_product"
pg_restore: from TOC entry 214; 1259 16638 TABLE product_attribute_values_in_product padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.product_attribute_values_in_product OWNER TO padel_user;

pg_restore: creating SEQUENCE "public.product_attributes_id_seq"
pg_restore: from TOC entry 228; 1259 16770 SEQUENCE product_attributes_id_seq padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.product_attributes_id_seq OWNER TO padel_user;

pg_restore: creating TABLE "public.product_attributes"
pg_restore: from TOC entry 213; 1259 16632 TABLE product_attributes padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.product_attributes OWNER TO padel_user;

pg_restore: creating SEQUENCE "public.product_attributes_in_product_id_seq"
pg_restore: from TOC entry 232; 1259 16783 SEQUENCE product_attributes_in_product_id_seq padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.product_attributes_in_product_id_seq OWNER TO padel_user;

pg_restore: creating TABLE "public.product_attributes_in_product"
pg_restore: from TOC entry 215; 1259 16641 TABLE product_attributes_in_product padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.product_attributes_in_product OWNER TO padel_user;

pg_restore: creating SEQUENCE "public.product_images_id_seq"
pg_restore: from TOC entry 229; 1259 16773 SEQUENCE product_images_id_seq padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.product_images_id_seq OWNER TO padel_user;

pg_restore: creating TABLE "public.product_images"
pg_restore: from TOC entry 216; 1259 16644 TABLE product_images padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.product_images OWNER TO padel_user;

pg_restore: creating SEQUENCE "public.products_id_seq"
pg_restore: from TOC entry 239; 1259 16808 SEQUENCE products_id_seq padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.products_id_seq OWNER TO padel_user;

pg_restore: creating TABLE "public.products"
pg_restore: from TOC entry 209; 1259 16611 TABLE products padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.products OWNER TO padel_user;

pg_restore: creating TABLE "public.registrations"
pg_restore: from TOC entry 217; 1259 16650 TABLE registrations padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.registrations OWNER TO padel_user;

pg_restore: creating TABLE "public.sponsor_clicks"
pg_restore: from TOC entry 244; 1259 16841 TABLE sponsor_clicks padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.sponsor_clicks OWNER TO padel_user;

pg_restore: creating SEQUENCE "public.sponsor_clicks_id_seq"
pg_restore: from TOC entry 243; 1259 16839 SEQUENCE sponsor_clicks_id_seq padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.sponsor_clicks_id_seq OWNER TO padel_user;

pg_restore: creating SEQUENCE OWNED BY "public.sponsor_clicks_id_seq"
pg_restore: creating TABLE "public.sponsors"
pg_restore: from TOC entry 242; 1259 16829 TABLE sponsors padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.sponsors OWNER TO padel_user;

pg_restore: creating SEQUENCE "public.sponsors_id_seq"
pg_restore: from TOC entry 241; 1259 16827 SEQUENCE sponsors_id_seq padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.sponsors_id_seq OWNER TO padel_user;

pg_restore: creating SEQUENCE OWNED BY "public.sponsors_id_seq"
pg_restore: creating SEQUENCE "public.users_id_seq"
pg_restore: from TOC entry 226; 1259 16717 SEQUENCE users_id_seq padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.users_id_seq OWNER TO padel_user;

pg_restore: creating TABLE "public.users"
pg_restore: from TOC entry 207; 1259 16599 TABLE users padel_user
pg_restore: error: could not execute query: ERROR:  must be member of role "padel_user"
Command was: ALTER TABLE public.users OWNER TO padel_user;

pg_restore: creating DEFAULT "public.backend_app id"
pg_restore: creating DEFAULT "public.imageables imageable_id"
pg_restore: creating DEFAULT "public.images id"
pg_restore: creating DEFAULT "public.sponsor_clicks id"
pg_restore: creating DEFAULT "public.sponsors id"
pg_restore: processing data for table "public.alembic_version"
pg_restore: processing data for table "public.backend_app"
pg_restore: processing data for table "public.divisions"
pg_restore: processing data for table "public.editions"
pg_restore: processing data for table "public.imageables"
pg_restore: processing data for table "public.images"
pg_restore: processing data for table "public.leagues"
pg_restore: processing data for table "public.matches"
pg_restore: processing data for table "public.news"
pg_restore: processing data for table "public.order_lines"
pg_restore: processing data for table "public.orders"
pg_restore: processing data for table "public.players"
pg_restore: processing data for table "public.players_in_division"
pg_restore: processing data for table "public.players_in_match"
pg_restore: processing data for table "public.product_attribute_values"
pg_restore: processing data for table "public.product_attribute_values_in_product"
pg_restore: processing data for table "public.product_attributes"
pg_restore: processing data for table "public.product_attributes_in_product"
pg_restore: processing data for table "public.product_images"
pg_restore: processing data for table "public.products"
pg_restore: processing data for table "public.registrations"
pg_restore: processing data for table "public.sponsor_clicks"
pg_restore: processing data for table "public.sponsors"
pg_restore: processing data for table "public.users"
pg_restore: executing SEQUENCE SET backend_app_id_seq
pg_restore: executing SEQUENCE SET divisions_id_seq
pg_restore: executing SEQUENCE SET editions_id_seq
pg_restore: executing SEQUENCE SET imageables_imageable_id_seq
pg_restore: executing SEQUENCE SET images_id_seq
pg_restore: executing SEQUENCE SET leagues_id_seq
pg_restore: executing SEQUENCE SET matches_id_seq
pg_restore: executing SEQUENCE SET news_id_seq
pg_restore: executing SEQUENCE SET order_lines_id_seq
pg_restore: executing SEQUENCE SET orders_id_seq
pg_restore: executing SEQUENCE SET players_id_seq
pg_restore: executing SEQUENCE SET players_in_division_id_seq
pg_restore: executing SEQUENCE SET players_in_match_id_seq
pg_restore: executing SEQUENCE SET product_attribute_values_id_seq
pg_restore: executing SEQUENCE SET product_attribute_values_in_product_id_seq
pg_restore: executing SEQUENCE SET product_attributes_id_seq
pg_restore: executing SEQUENCE SET product_attributes_in_product_id_seq
pg_restore: executing SEQUENCE SET product_images_id_seq
pg_restore: executing SEQUENCE SET products_id_seq
pg_restore: executing SEQUENCE SET sponsor_clicks_id_seq
pg_restore: executing SEQUENCE SET sponsors_id_seq
pg_restore: executing SEQUENCE SET users_id_seq
pg_restore: creating CONSTRAINT "public.alembic_version alembic_version_pkc"
pg_restore: creating CONSTRAINT "public.backend_app backend_app_app_model_name_key"
pg_restore: creating CONSTRAINT "public.backend_app backend_app_name_key"
pg_restore: creating CONSTRAINT "public.backend_app backend_app_pkey"
pg_restore: creating CONSTRAINT "public.imageables imageables_pkey"
pg_restore: creating CONSTRAINT "public.images images_pkey"
pg_restore: creating CONSTRAINT "public.sponsor_clicks sponsor_clicks_pkey"
pg_restore: creating CONSTRAINT "public.sponsors sponsors_name_key"
pg_restore: creating CONSTRAINT "public.sponsors sponsors_pkey"
pg_restore: creating CONSTRAINT "public.sponsors sponsors_website_key"
pg_restore: creating CONSTRAINT "public.images uq_images_object_key"
pg_restore: creating INDEX "public.ix_news_cover_image_id"
pg_restore: creating INDEX "public.ix_players_large_picture_id"
pg_restore: creating INDEX "public.ix_players_picture_id"
pg_restore: creating INDEX "public.ix_sponsors_image_id"
pg_restore: creating FK CONSTRAINT "public.backend_app backend_app_image_id_fkey"
pg_restore: creating FK CONSTRAINT "public.divisions fk_divisions_large_picture"
pg_restore: creating FK CONSTRAINT "public.divisions fk_divisions_logo_image"
pg_restore: creating FK CONSTRAINT "public.news fk_news_cover_image_id_images"
pg_restore: creating FK CONSTRAINT "public.players fk_players_large_picture_id_images"
pg_restore: creating FK CONSTRAINT "public.players fk_players_picture_id_images"
pg_restore: creating FK CONSTRAINT "public.sponsors fk_sponsors_image_id_images"
pg_restore: creating FK CONSTRAINT "public.images images_imageable_id_fkey"
pg_restore: creating FK CONSTRAINT "public.sponsor_clicks sponsor_clicks_sponsor_id_fkey"
pg_restore: warning: errors ignored on restore: 49

In [ ]:
from sqlalchemy import create_engine, text
import pandas as pd
from openai import OpenAI
import psycopg2
import json
import re
import time


# --- OpenAI setup ---
client = OpenAI(api_key=None)

# --- Postgres setup ---
user = "padel_user_local"
password = "localpassword"
host = "localhost"
port = "5432"
database = "padel_league_local"

pg_engine = create_engine(f"postgresql://{user}:{password}@{host}:{port}/{database}")
CONN_STR = f"postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}"

In [65]:
with open('sql_agent_prompt.txt', 'r') as file:
    SCHEMA_DESCRIPTION = file.read().rstrip()

In [66]:
def generate_sql(user_question: str) -> str:
    prompt = f"""
    You are an expert in SQL and padel league data.

    {SCHEMA_DESCRIPTION}

    Write a valid PostgreSQL query that answers the following question.
    Return **only** a fenced markdown code block. No extra explanation.

    Question: {user_question}
    Answer:
    """
    response = client.chat.completions.create(
        model="gpt-5-nano",
        messages=[{"role": "user", "content": prompt}],
        reasoning_effort='minimal',
        verbosity='low'
    )
    return response.choices[0].message.content.strip()

In [67]:
def run_sql(query: str):
    conn = psycopg2.connect(
        dbname=database, user=user, password=password, host=host, port=port
    )
    try:
        return pd.read_sql_query(query, conn)
    finally:
        conn.close()

In [68]:
def summarize_answer(user_question: str, df: pd.DataFrame) -> str:
    if df is None or df.empty:
        return "Não encontrei dados que correspondam a essa pergunta."

    result_str = df.head(10).to_json(orient="records")
    prompt = f"""
És um assistente um bocado bruto que responde a perguntas sobre uma liga de padel amadora.

A tua tarefa é escrever uma resposta curta e coerente em português de Portugal, com base nos dados fornecidos.
Podes ser cínico, bruto e sarcástico. 

Pergunta: {user_question}
Resultado da consulta: {result_str}

Resposta (em português de Portugal):
"""
    response = client.chat.completions.create(
        model="gpt-5-nano",
        messages=[{"role": "user", "content": prompt}],
        reasoning_effort='minimal'
    )
    return response.choices[0].message.content.strip()

In [69]:
with open("queries.json", "r", encoding="utf-8") as f:
    questions = json.load(f)

print('-------- Questions ----------')
for question in questions:
    try:
        df = run_sql(question['sql_query'])
        print(f"Question: {question['question']}")
        #print(f"Query: {question['sql_query']}")
        print(f'Answer: {df}')
        print('--------------------------------')
    except:
        print(f"Couldnt answer question: {question['question']}")

-------- Questions ----------
Question: Quem são os 5 jogadores com mais pontos de ranking?
Answer:    player_id        name            full_name  ranking_points  \
0         33        Fred     Frederico Beirão            7089
1         28  Bernardo C     Bernardo Castro             5641
2         12   Miguel SG  Miguel Sousa Guedes            4675
3         27    Malafaya       Diogo Malafaya            3951
4         13       Dudas   Dinis Brito e Faro            3543

   ranking_position
0                 1
1                 2
2                 3
3                 4
4                 5
--------------------------------
Question: Quantos jogadores existem na liga?
Answer:    total_jogadores
0               72
--------------------------------
Question: Quais são os nomes das divisões atuais?
Answer:                                       name
0  2º Masters de Outono 2025 - 1ª Divisão
1   2º Masters de Outono 2025 - 2ª Divisão
2   2º Masters de Outono 2025 - 3ª Divisão
3   2º Masters de Outono 2025 - 4ª Divisão
4   2º Masters de Outono 2025 - 5ª Divisão
--------------------------------
Question: Quando começou a edição mais recente da liga?
Answer:                                edicao data_inicio
0  18ª Edição Powered by Ricky Parodi  2025-10-21
--------------------------------
Question: Que campos foram usados nos jogos realizados?
Answer:      field
0  Campo 2
1  Campo 1
--------------------------------
Question: Quantos jogos já foram jogados?
Answer:    jogos_jogados
0           2356
--------------------------------
Question: Quais são os jogadores da Divisão 1 e os respetivos pontos?
Answer:         jogador  pontos
0  Joao perneta    21.0
1    Bernardo C    15.0
2         Kikos     9.0
3          Cuca     9.0
4        Pancho     9.0
5    Gonçalo PA     6.0
6         Dinis     6.0
7         Carlo     6.0
--------------------------------
Question: Quem ganhou o último jogo da Divisão 2?
Answer:   jogador_vencedor  date_hour
0          Talinho 2025-11-11
--------------------------------
Question: Quantas vitórias tem cada jogador da Divisão 3?
Answer:               name  vitorias
0    Afonso Xavier         5
1  Lopo Sottomayor         5
2            Pêras         5
3            Trepa         5
4            Diogo         3
5          Freitas         3
6     Tomás Duarte         3
7            Fezas         2
--------------------------------
Question: Qual é o jogador com mais jogos jogados?
Answer:       name  jogos
0  Talinho    345
--------------------------------
Question: Que jogadores têm mais de 100 pontos e jogaram pelo menos 5 partidas?
Answer: Empty DataFrame
Columns: [name, points, jogos]
Index: []
--------------------------------
Question: Quantos jogos foram jogados em cada divisao?
Answer:                                     divisao  jogos_jogados
0               Primavera 2023 - 1ª Divisão             42
1               Inverno 2 2025 - 1ª Divisão             42
2                  Outono 2024 - 1ª Divisão             42
3                 Inverno 2023 - 1ª Divisão             42
4                Outono 2 2023 - 1ª Divisão             42
5               Inverno 2 2024 - 1ª Divisão             42
6               Primavera 2024 - 1ª Divisão             42
7                  Outono 2023 - 1ª Divisão             42
8                   Verão 2024 - 1ª Divisão             42
9               Primavera 2025 - 1ª Divisão             42
10                  Verão 2023 - 1ª Divisão             42
11               Outono 2 2024 - 1ª Divisão             42
12                 Outono 2022 - 1ª Divisão             42
13                Inverno 2025 - 1ª Divisão             42
14  2º Masters de Outono 2025 - 1ª Divisão              16
15                 Outono 2025 - 1ª Divisão             42
16                Inverno 2024 - 1ª Divisão             42
17              Primavera 2022 - 1ª Divisão             42
18                                 Quadro B             42
19               Outono 2 2024 - 2ª Divisão             42
20              Primavera 2024 - 2ª Divisão             42
21              Inverno 2 2024 - 2ª Divisão             42
22                Inverno 2024 - 2ª Divisão             42
23                  Verão 2023 - 2ª Divisão             42
24   2º Masters de Outono 2025 - 2ª Divisão             18
25                  Verão 2024 - 2ª Divisão             42
26               Outono 2 2023 - 2ª Divisão             42
27                Inverno 2023 - 2ª Divisão             42
28                Inverno 2025 - 2ª Divisão             42
29                 Outono 2024 - 2ª Divisão             42
30                                 Quadro A             42
31                 Outono 2023 - 2ª Divisão             42
32              Primavera 2022 - 2ª Divisão             42
33              Inverno 2 2025 - 2ª Divisão             42
34              Primavera 2025 - 2ª Divisão             42
35              Primavera 2023 - 2ª Divisão             42
36                 Outono 2025 - 2ª Divisão             42
37                 Outono 2022 - 2ª Divisão             42
38                Inverno 2024 - 3ª Divisão             42
39              Inverno 2 2025 - 3ª Divisão             42
40                 Outono 2025 - 3ª Divisão             42
41               Outono 2 2024 - 3ª Divisão             42
42              Inverno 2 2024 - 3ª Divisão             42
43              Primavera 2024 - 3ª Divisão             42
44   2º Masters de Outono 2025 - 3ª Divisão             18
45              Primavera 2025 - 3ª Divisão             42
46                 Outono 2024 - 3ª Divisão             42
47                  Verão 2024 - 3ª Divisão             42
48                Inverno 2025 - 3ª Divisão             42
49   2º Masters de Outono 2025 - 4ª Divisão             18
50                Inverno 2025 - 4ª Divisão             42
51                 Outono 2024 - 4ª Divisão             42
52              Primavera 2025 - 4ª Divisão             42
53              Inverno 2 2025 - 4ª Divisão             42
54               Outono 2 2024 - 4ª Divisão             42
55                 Outono 2025 - 4ª Divisão             42
56   2º Masters de Outono 2025 - 5ª Divisão             18
57                 Outono 2025 - 5ª Divisão             42
58              Primavera 2025 - 5ª Divisão             42
--------------------------------
Question: Quem é o líder atual de cada divisão?
Answer:                                    divisao         lider  points
0  2º Masters de Outono 2025 - 1ª Divisão   Joao perneta    21.0
1   2º Masters de Outono 2025 - 2ª Divisão       Talinho    19.0
2   2º Masters de Outono 2025 - 3ª Divisão         Trepa    15.0
3   2º Masters de Outono 2025 - 4ª Divisão          Hugo    18.0
4   2º Masters de Outono 2025 - 5ª Divisão  Chico Castro    27.0
--------------------------------
Question: Quais foram os três jogadores com mais vitórias na última edição da liga?
Answer:             name  vitorias
0      Zé Santos        16
1  Afonso Xavier        15
2     Bernardo C        14
--------------------------------
Question: Que jogador melhorou mais a sua classificação entre duas edições consecutivas?
Answer:     name  melhoria  place_prev  place_curr edition_prev_name  \
0  Pêras         7           8           1         3ª Edição

  edition_curr_name  division_prev_rating  division_curr_rating
0         4ª Edição                  2000                  1000
--------------------------------
Question: Mostra as próximas partidas (não jogadas) ordenadas por data e divisão.
Answer:                                      divisao  date_hour    field
0    2º Masters de Outono 2025 - 1ª Divisão  2025-10-28  Campo 1
1    2º Masters de Outono 2025 - 1ª Divisão  2025-10-28  Campo 2
2    2º Masters de Outono 2025 - 1ª Divisão  2025-11-04  Campo 1
3    2º Masters de Outono 2025 - 1ª Divisão  2025-11-04  Campo 2
4    2º Masters de Outono 2025 - 1ª Divisão  2025-11-04  Campo 1
..                                       ...        ...      ...
117   2º Masters de Outono 2025 - 5ª Divisão 2025-12-02  Campo 2
118   2º Masters de Outono 2025 - 5ª Divisão 2025-12-02  Campo 1
119   2º Masters de Outono 2025 - 5ª Divisão 2025-12-02  Campo 2
120   2º Masters de Outono 2025 - 5ª Divisão 2025-12-02  Campo 1
121   2º Masters de Outono 2025 - 5ª Divisão 2025-12-02  Campo 1

[122 rows x 3 columns]
--------------------------------
Question: Em que divisões joga o jogador chamado 'Pedro Pacheco'?
Answer:                                     divisao  \
0                   Verão 2024 - 2ª Divisão
1               Primavera 2025 - 2ª Divisão
2                  Outono 2023 - 2ª Divisão
3                 Inverno 2025 - 2ª Divisão
4                Outono 2 2024 - 3ª Divisão
5               Inverno 2 2024 - 2ª Divisão
6   2º Masters de Outono 2025 - 1ª Divisão
7                  Outono 2024 - 2ª Divisão
8                   Verão 2023 - 2ª Divisão
9                  Outono 2022 - 2ª Divisão
10   2º Masters de Outono 2025 - 4ª Divisão
11              Inverno 2 2025 - 2ª Divisão
12              Primavera 2024 - 2ª Divisão
13                                 Quadro B
14                 Outono 2025 - 5ª Divisão
15                Inverno 2023 - 2ª Divisão
16              Primavera 2023 - 2ª Divisão
17              Primavera 2022 - 1ª Divisão
18               Outono 2 2023 - 2ª Divisão
19                 Outono 2025 - 1ª Divisão
20                Inverno 2024 - 2ª Divisão

                                edicao
0                           11ª Edição
1            16ª Edição Powered by QSC
2                            6ª Edição
3                           14ª Edição
4                           13ª Edição
5                            9ª Edição
6   18ª Edição Powered by Ricky Parodi
7                           12ª Edição
8                            5ª Edição
9                            2ª Edição
10  18ª Edição Powered by Ricky Parodi
11                          15ª Edição
12                          10ª Edição
13                            Play Off
14           17ª Edição Powered by QSC
15                           3ª Edição
16                           4ª Edição
17                           1ª Edição
18                           7ª Edição
19           17ª Edição Powered by QSC
20                           8ª Edição
--------------------------------
Question: Que jogadores ganharam mais jogos jogando como equipa da casa?
Answer:            name  vitorias_casa
0     Miguel SG             90
1         Pêras             73
2       Semelhe             70
3  Joao perneta             69
4         Dudas             68
--------------------------------
Question: Mostra a classificação média (pontos) dos jogadores por divisão.
Answer:                                    divisao  media_pontos
0  2º Masters de Outono 2025 - 1ª Divisão         10.125
1   2º Masters de Outono 2025 - 2ª Divisão        10.625
2   2º Masters de Outono 2025 - 3ª Divisão        11.625
3   2º Masters de Outono 2025 - 4ª Divisão        11.250
4   2º Masters de Outono 2025 - 5ª Divisão        11.625
--------------------------------
Question: Que jogadores jogaram mais vezes como adversários?
Answer:    jogador_a   jogador_b  jogos_como_adversarios
0  Miguel SG       Dudas                      61
1     Pancho     Freitas                      55
2      Dudas        Cuca                      47
3   Malafaya  Bernardo C                      46
4      Pêras     Freitas                      46
5  Miguel SG        Cuca                      45
6      Dudas     Semelhe                      44
7       Cuca  Bernardo C                      43
8  Miguel SG     Semelhe                      43
9      Pêras     Talinho                      42
--------------------------------
Question: Quem ganhou mais vezes nos confrontos Dudas v Miguel SG?
Answer:              jogador  vitorias
0          Miguel SG        41
1              Dudas        30
2  Empate/Indefinido         8
--------------------------------
Question: Quem tem melhor percentagem de vitórias nesta edição?
Answer:             name  vitorias  jogos  perc_vitorias
0   Chico Castro         9      9         100.00
1   Joao perneta         7      8          87.50
2         Falcão         5      6          83.33
3           Hugo         6      9          66.67
4        Talinho         6      9          66.67
5  Fred Baptista         6      9          66.67
6       Martinho         4      6          66.67
7           Zema         5      9          55.56
8          Ricas         5      9          55.56
9     Bernardo C         5      9          55.56
--------------------------------
Question: Quem tem melhor assiduidade de sempre?
Answer:    player_id           name  jogos_jogados  divisoes_jogadas  assiduidade
0          2      Miguel C.           42.0                 2        1.000
1         50         Nathan           39.0                 2        0.929
2         44          Trepa          135.0                 7        0.918
3         37     Gonçalo PA          192.0                10        0.914
4         21           Cuca          285.0                15        0.905
5         46   Nuno Machado           93.0                 5        0.886
6         13          Dudas          316.0                17        0.885
7          1  Luís Ferreira           37.0                 2        0.881
8         28     Bernardo C          240.0                13        0.879
9          6          Tiago           91.0                 5        0.867
--------------------------------
Question: Quem tem melhor percentagem de vitórias de sempre?
Answer:                name  vitorias  jogos  perc_vitorias
0      Chico Castro         9      9         100.00
1            Falcão         5      6          83.33
2         Zé Santos        30     43          69.77
3     Afonso Xavier        35     51          68.63
4          Ze Livra        14     21          66.67
5              Fred       116    177          65.54
6           Semelhe       151    234          64.53
7         Miguel SG       177    276          64.13
8             Jonny       141    225          62.67
9          Zé Veiga        96    161          59.63
10             Hugo        25     42          59.52
11         Malafaya       132    222          59.46
12  Lopo Sottomayor        30     51          58.82
13     Nuno Machado        54     93          58.06
14     Joao perneta       144    249          57.83
15            Kikao        29     51          56.86
16  Diogo Rodrigues        44     78          56.41
17            Diogo       104    186          55.91
18           Rafael        20     36          55.56
19            Tiago        49     90          54.44
--------------------------------
Question: Quantas vezes é que o Talinho jogou a 1ª Divisão?
Answer:       name  vezes_primeira_divisao
0  Talinho                       5
--------------------------------

/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)

In [ ]:
def extract_sql_block(text: str) -> str:
    """
    Extracts the SQL inside ```sql ... ``` from an LLM response.
    Raises a clean exception if no SQL is found.
    """
    match = re.search(r"```sql\s*(.*?)\s*```", text, re.DOTALL)
    if not match:
        raise ValueError("No SQL code block found in LLM output.")
    return match.group(1).strip()

def retry_call(fn, retries=3, delay=0.5, backoff=2):
    last_err = None
    for attempt in range(retries):
        try:
            return fn()
        except Exception as e:
            last_err = e
            if attempt == retries - 1:
                raise
            time.sleep(delay)
            delay *= backoff
    raise last_err

def llm_judge(question: str, expected_df: pd.DataFrame, predicted_df: pd.DataFrame) -> str:

    expected_str = expected_df.to_markdown(index=False)
    predicted_str = predicted_df.to_markdown(index=False)

    prompt = f"""
You are an expert evaluator of SQL query correctness.

Your task: Determine whether the predicted SQL query result correctly answers the user's question.

You will receive:
1. The question.
2. The ground-truth correct result (as a table).
3. The model-generated result (as a table).

### IMPORTANT RULES ###
- The answer is CORRECT even if the columns differ, as long as the **content matches semantically**.
- Extra columns are allowed.
- Column name mismatches should be ignored.
- Ordering only matters if the question implies an order (e.g., "top", "ordered by").
- Missing irrelevant columns (e.g., ranking_position) does NOT make the answer wrong.
- Compare only the meaningful content needed to answer the question.

Respond with a JSON object like:
{{
  "verdict": "CORRECT" or "WRONG",
  "reason": "short 1–2 sentence explanation"
}}

### QUESTION
{question}

### GROUND TRUTH RESULT
{expected_str}

### MODEL PREDICTED RESULT
{predicted_str}

Evaluate now.
"""
    response = client.chat.completions.create(
        model="gpt-5-nano",
        messages=[{"role": "user", "content": prompt}],
        reasoning_effort='minimal',
        verbosity='low'
    )

    # Attempt to parse JSON safely
    try:
        decision = json.loads(response.choices[0].message.content)
        return decision
    except:
        return {"verdict": "ERROR", "reason": "Judge output not JSON parsable"}

def evaluate_generated_sql(questions, retries=2):
    """
    For each question:
      - runs the ground-truth SQL
      - generates SQL via generate_sql + extract_sql_block (with retries)
      - executes the generated SQL (with retries)
      - uses llm_judge() to decide CORRECT/WRONG
    Returns a DataFrame with rich metadata per question.
    """
    results = []

    for q in questions:
        user_question = q["question"]

        # 1) Ground truth
        try:
            ground_truth = retry_call(lambda: run_sql(q["sql_query"]), retries=retries)
        except Exception as e:
            # If ground-truth fails, the eval is meaningless for this question
            results.append({
                "question": user_question,
                "status": "GROUND_TRUTH_ERROR",
                "sql_query": None,
                "raw_llm_output": None,
                "result": None,
                "ground_truth": None,
                "pass": False,
                "judge_reason": "",
                "error": f"Ground truth failed: {e}",
            })
            continue

        # 2) Generate SQL via LLM
        try:
            llm_output = retry_call(lambda: generate_sql(user_question), retries=retries)
            sql_query = extract_sql_block(llm_output)
        except Exception as e:
            results.append({
                "question": user_question,
                "status": "LLM_ERROR",
                "sql_query": None,
                "raw_llm_output": llm_output if "llm_output" in locals() else None,
                "result": None,
                "ground_truth": ground_truth,
                "pass": False,
                "judge_reason": "",
                "error": str(e),
            })
            continue

        # 3) Execute generated SQL
        try:
            gen_df = retry_call(lambda: run_sql(sql_query), retries=retries)
        except Exception as e:
            results.append({
                "question": user_question,
                "status": "SQL_ERROR",
                "sql_query": sql_query,
                "raw_llm_output": llm_output,
                "result": None,
                "ground_truth": ground_truth,
                "pass": False,
                "judge_reason": "",
                "error": str(e),
            })
            continue

        # 4) Judge with LLM
        judge = llm_judge(user_question, ground_truth, gen_df)
        verdict = judge.get("verdict", "ERROR")
        reason = judge.get("reason", "")

        results.append({
            "question": user_question,
            "status": verdict,                  # "CORRECT", "WRONG", or "ERROR"
            "sql_query": sql_query,             # extracted SQL
            "raw_llm_output": llm_output,       # full text from generate_sql
            "result": gen_df,                   # model-generated dataframe
            "ground_truth": ground_truth,       # reference dataframe
            "pass": verdict == "CORRECT",
            "judge_reason": reason,
            "error": "",
        })

    return pd.DataFrame(results)

def dataframes_equal(df1, df2):
    """
    Robust comparison:
    - ignore column order
    - ignore row order
    - ignore index
    - compare values as strings (safer for numeric/text mismatches)
    """
    if not isinstance(df1, pd.DataFrame) or not isinstance(df2, pd.DataFrame):
        return False

    try:
        df1_norm = df1.sort_index(axis=1).sort_values(by=list(df1.columns), ignore_index=True).astype(str)
        df2_norm = df2.sort_index(axis=1).sort_values(by=list(df2.columns), ignore_index=True).astype(str)
        return df1_norm.equals(df2_norm)
    except:
        return False
    
def compute_precision_score(evaluation_df: pd.DataFrame):
    """
    precision = (# of CORRECT queries) / (total queries evaluated)
    """
    total = len(evaluation_df)
    passed = evaluation_df["pass"].sum() if "pass" in evaluation_df.columns else 0

    precision = passed / total if total > 0 else 0.0

    return {
        "total_queries": total,
        "passed": int(passed),
        "failed": int(total - passed),
        "precision": round(precision, 4),
    }

In [71]:
def logically_equal(df_pred, df_gt):
    """
    Flexible DataFrame comparison:
      - Normalize column names
      - Compare only shared columns
      - Ignore column order
      - Sort rows
      - Ignore dtype differences
    Returns True if logically equal.
    """

    if df_pred is None or df_gt is None:
        return False

    # Normalize column names
    pred = df_pred.copy()
    gt = df_gt.copy()

    pred.columns = [c.lower().strip() for c in pred.columns]
    gt.columns = [c.lower().strip() for c in gt.columns]

    # Fix common synonym columns
    rename_map = {
        "id": "player_id",
        "playerid": "player_id",
        "fullname": "full_name"
    }
    pred.rename(columns=rename_map, inplace=True)

    # Determine shared columns
    common_cols = sorted(set(pred.columns).intersection(gt.columns))

    if not common_cols:
        return False

    # Subset and sort
    pred_sub = pred[common_cols].sort_values(by=common_cols).reset_index(drop=True)
    gt_sub = gt[common_cols].sort_values(by=common_cols).reset_index(drop=True)

    # Convert both to string for robust comparison
    pred_norm = pred_sub.astype(str)
    gt_norm = gt_sub.astype(str)

    # Compare
    return pred_norm.equals(gt_norm)

def annotate_failures(df):
    """
    Adds a unified failure_reason column based on:
      - LLM_ERROR
      - SQL_ERROR
      - CORRECT
      - WRONG
    """

    reasons = []

    for _, row in df.iterrows():
        status = row.get("status", None)

        if status in ("LLM_ERROR", "SQL_ERROR"):
            reasons.append(status)
            continue

        if status == "CORRECT":
            reasons.append("PASS")
            continue

        if status == "WRONG":
            reasons.append("WRONG_RESULT")
            continue

        # unexpected / fallback
        reasons.append("UNKNOWN")

    df["failure_reason"] = reasons
    return df

def inspect_failure(df, question_text):
    """
    Prints a detailed inspection for a given question.
    """
    row = df[df["question"] == question_text].iloc[0]

    print("\n==========================")
    print("QUESTION:", row["question"])
    print("STATUS:", row["status"])
    print("REASON:", row["failure_reason"])
    print("==========================")

    # For LLM extraction errors
    if row["status"] == "LLM_ERROR":
        print("\n❌ LLM could not generate SQL.")
        print("ERROR:", row.get("error", ""))
        return

    # For SQL execution errors
    if row["status"] == "SQL_ERROR":
        print("\n--- SQL Generated ---")
        print(row.get("sql_query", "(none)"))
        print("\n❌ SQL Execution Error:")
        print(row.get("error", ""))
        return

    # For CORRECT/WRONG cases
    print("\n--- SQL Generated ---")
    print(row.get("sql_query"))

    print("\n--- Judge Reason ---")
    print(row.get("judge_reason", ""))

    print("\n--- Expected Result ---")
    print(row.get("ground_truth"))

    print("\n--- Actual Result ---")
    print(row.get("generated_result"))

    # Optional: try to show diff
    try:
        diff = row["ground_truth"].compare(row["generated_result"])
        print("\n--- DataFrame Differences ---")
        print(diff)
    except Exception:
        print("\n--- DataFrame Differences ---")
        print("Could not compute a clean diff.")
        
def summary_report(df):
    print("\n===== FAILURE SUMMARY =====")
    print(df["failure_reason"].value_counts())

    print("\n===== FAILURE DETAILS =====")
    for reason in df["failure_reason"].unique():
        subset = df[df["failure_reason"] == reason]
        print(f"\n### {reason} ({len(subset)})")
        for q in subset["question"]:
            print("-", q)

In [72]:
eval_df = evaluate_generated_sql(questions)
eval_df = annotate_failures(eval_df)

print(compute_precision_score(eval_df))
summary_report(eval_df)

/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)

{'total_queries': 25, 'passed': 7, 'failed': 18, 'precision': np.float64(0.28)}

===== FAILURE SUMMARY =====
failure_reason
WRONG_RESULT    13
PASS             7
SQL_ERROR        5
Name: count, dtype: int64

===== FAILURE DETAILS =====

### PASS (7)
- Quem são os 5 jogadores com mais pontos de ranking?
- Quantos jogadores existem na liga?
- Quais são os nomes das divisões atuais?
- Que campos foram usados nos jogos realizados?
- Quais são os jogadores da Divisão 1 e os respetivos pontos?
- Quem é o líder atual de cada divisão?
- Mostra a classificação média (pontos) dos jogadores por divisão.

### WRONG_RESULT (13)
- Quando começou a edição mais recente da liga?
- Quantos jogos já foram jogados?
- Que jogadores têm mais de 100 pontos e jogaram pelo menos 5 partidas?
- Quantos jogos foram jogados em cada divisao?
- Quais foram os três jogadores com mais vitórias na última edição da liga?
- Que jogador melhorou mais a sua classificação entre duas edições consecutivas?
- Mostra as próximas partidas (não jogadas) ordenadas por data e divisão.
- Em que divisões joga o jogador chamado 'Pedro Pacheco'?
- Que jogadores ganharam mais jogos jogando como equipa da casa?
- Que jogadores jogaram mais vezes como adversários?
- Quem ganhou mais vezes nos confrontos Dudas v Miguel SG?
- Quem tem melhor assiduidade de sempre?
- Quantas vezes é que o Talinho jogou a 1ª Divisão?

### SQL_ERROR (5)
- Quem ganhou o último jogo da Divisão 2?
- Quantas vitórias tem cada jogador da Divisão 3?
- Qual é o jogador com mais jogos jogados?
- Quem tem melhor percentagem de vitórias nesta edição?
- Quem tem melhor percentagem de vitórias de sempre?

In [63]:
eval_df = evaluate_generated_sql(questions)
eval_df = annotate_failures(eval_df)

print(compute_precision_score(eval_df))
summary_report(eval_df)

/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)

{'total_queries': 25, 'passed': 8, 'failed': 17, 'precision': np.float64(0.32)}

===== FAILURE SUMMARY =====
failure_reason
WRONG_RESULT    13
PASS             8
SQL_ERROR        4
Name: count, dtype: int64

===== FAILURE DETAILS =====

### PASS (8)
- Quem são os 5 jogadores com mais pontos de ranking?
- Quantos jogadores existem na liga?
- Quais são os nomes das divisões atuais?
- Quantos jogos já foram jogados?
- Quais são os jogadores da Divisão 1 e os respetivos pontos?
- Quantas vitórias tem cada jogador da Divisão 3?
- Quais foram os três jogadores com mais vitórias na última edição da liga?
- Mostra as próximas partidas (não jogadas) ordenadas por data e divisão.

### WRONG_RESULT (13)
- Quando começou a edição mais recente da liga?
- Que campos foram usados nos jogos realizados?
- Quem ganhou o último jogo da Divisão 2?
- Qual é o jogador com mais jogos jogados?
- Que jogadores têm mais de 100 pontos e jogaram pelo menos 5 partidas?
- Quantos jogos foram jogados em cada divisao?
- Em que divisões joga o jogador chamado 'Pedro Pacheco'?
- Que jogadores ganharam mais jogos jogando como equipa da casa?
- Que jogadores jogaram mais vezes como adversários?
- Quem ganhou mais vezes nos confrontos Dudas v Miguel SG?
- Quem tem melhor assiduidade de sempre?
- Quem tem melhor percentagem de vitórias de sempre?
- Quantas vezes é que o Talinho jogou a 1ª Divisão?

### SQL_ERROR (4)
- Quem é o líder atual de cada divisão?
- Que jogador melhorou mais a sua classificação entre duas edições consecutivas?
- Mostra a classificação média (pontos) dos jogadores por divisão.
- Quem tem melhor percentagem de vitórias nesta edição?

In [54]:
eval_df = evaluate_generated_sql(questions)
eval_df = annotate_failures(eval_df)

print(compute_precision_score(eval_df))
summary_report(eval_df)

/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_61480/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)

{'total_queries': 25, 'passed': 11, 'failed': 14, 'precision': np.float64(0.44)}

===== FAILURE SUMMARY =====
failure_reason
WRONG_RESULT    12
PASS            11
SQL_ERROR        2
Name: count, dtype: int64

===== FAILURE DETAILS =====

### PASS (11)
- Quem são os 5 jogadores com mais pontos de ranking?
- Quantos jogadores existem na liga?
- Quais são os nomes das divisões atuais?
- Quando começou a edição mais recente da liga?
- Que campos foram usados nos jogos realizados?
- Quais são os jogadores da Divisão 1 e os respetivos pontos?
- Quantas vitórias tem cada jogador da Divisão 3?
- Qual é o jogador com mais jogos jogados?
- Quem é o líder atual de cada divisão?
- Quais foram os três jogadores com mais vitórias na última edição da liga?
- Quem tem melhor percentagem de vitórias nesta edição?

### WRONG_RESULT (12)
- Quantos jogos já foram jogados?
- Quem ganhou o último jogo da Divisão 2?
- Que jogadores têm mais de 100 pontos e jogaram pelo menos 5 partidas?
- Quantos jogos foram jogados em cada divisao?
- Que jogador melhorou mais a sua classificação entre duas edições consecutivas?
- Em que divisões joga o jogador chamado 'Pedro Pacheco'?
- Que jogadores ganharam mais jogos jogando como equipa da casa?
- Mostra a classificação média (pontos) dos jogadores por divisão.
- Que jogadores jogaram mais vezes como adversários?
- Quem ganhou mais vezes nos confrontos Dudas v Miguel SG?
- Quem tem melhor assiduidade de sempre?
- Quantas vezes é que o Talinho jogou a 1ª Divisão?

### SQL_ERROR (2)
- Mostra as próximas partidas (não jogadas) ordenadas por data e divisão.
- Quem tem melhor percentagem de vitórias de sempre?

In [16]:
inspect_failure(eval_df, "Quando começou a edição mais recente da liga?")

==========================
QUESTION: Quando começou a edição mais recente da liga?
STATUS: LLM_ERROR
REASON: LLM_ERROR
==========================

❌ LLM could not generate SQL.
ERROR: Completions.create() got an unexpected keyword argument 'reasoning_verbosity'

In [17]:
eval_df

,question,status,sql_query,raw_llm_output,result,ground_truth,pass,judge_reason,error,failure_reason
0,Quem são os 5 jogadores com mais pontos de ran...,LLM_ERROR,None,None,None,player_id name full_name ...,False,,Completions.create() got an unexpected keyword...,LLM_ERROR
1,Quantos jogadores existem na liga?,LLM_ERROR,None,None,None,total_jogadores 0 72,False,,Completions.create() got an unexpected keyword...,LLM_ERROR
2,Quais são os nomes das divisões atuais?,LLM_ERROR,None,None,None,name 0 ...,False,,Completions.create() got an unexpected keyword...,LLM_ERROR
3,Quando começou a edição mais recente da liga?,LLM_ERROR,None,None,None,edicao data_ini...,False,,Completions.create() got an unexpected keyword...,LLM_ERROR
4,Que campos foram usados nos jogos realizados?,LLM_ERROR,None,None,None,field 0 Campo 2 1 Campo 1,False,,Completions.create() got an unexpected keyword...,LLM_ERROR
5,Quantos jogos já foram jogados?,LLM_ERROR,None,None,None,jogos_jogados 0 2356,False,,Completions.create() got an unexpected keyword...,LLM_ERROR
6,Quais são os jogadores da Divisão 1 e os respe...,LLM_ERROR,None,None,None,jogador pontos 0 Joao perneta 21....,False,,Completions.create() got an unexpected keyword...,LLM_ERROR
7,Quem ganhou o último jogo da Divisão 2?,LLM_ERROR,None,None,None,jogador_vencedor date_hour 0 Talin...,False,,Completions.create() got an unexpected keyword...,LLM_ERROR
8,Quantas vitórias tem cada jogador da Divisão 3?,LLM_ERROR,None,None,None,name vitorias 0 Afonso Xavie...,False,,Completions.create() got an unexpected keyword...,LLM_ERROR
9,Qual é o jogador com mais jogos jogados?,LLM_ERROR,None,None,None,name jogos 0 Talinho 345,False,,Completions.create() got an unexpected keyword...,LLM_ERROR
10,Que jogadores têm mais de 100 pontos e jogaram...,LLM_ERROR,None,None,None,"Empty DataFrame Columns: [name, points, jogos]...",False,,Completions.create() got an unexpected keyword...,LLM_ERROR
11,Quantos jogos foram jogados em cada divisao?,LLM_ERROR,None,None,None,divisao j...,False,,Completions.create() got an unexpected keyword...,LLM_ERROR
12,Quem é o líder atual de cada divisão?,LLM_ERROR,None,None,None,divisao ...,False,,Completions.create() got an unexpected keyword...,LLM_ERROR
13,Quais foram os três jogadores com mais vitória...,LLM_ERROR,None,None,None,name vitorias 0 Zé Santos ...,False,,Completions.create() got an unexpected keyword...,LLM_ERROR
14,Que jogador melhorou mais a sua classificação ...,LLM_ERROR,None,None,None,name melhoria place_prev place_curr edi...,False,,Completions.create() got an unexpected keyword...,LLM_ERROR
15,Mostra as próximas partidas (não jogadas) orde...,LLM_ERROR,None,None,None,divisao ...,False,,Completions.create() got an unexpected keyword...,LLM_ERROR
16,Em que divisões joga o jogador chamado 'Pedro ...,LLM_ERROR,None,None,None,divisao \...,False,,Completions.create() got an unexpected keyword...,LLM_ERROR
17,Que jogadores ganharam mais jogos jogando como...,LLM_ERROR,None,None,None,name vitorias_casa 0 Miguel SG...,False,,Completions.create() got an unexpected keyword...,LLM_ERROR
18,Mostra a classificação média (pontos) dos joga...,LLM_ERROR,None,None,None,divisao me...,False,,Completions.create() got an unexpected keyword...,LLM_ERROR
19,Que jogadores jogaram mais vezes como adversár...,LLM_ERROR,None,None,None,jogador_a jogador_b jogos_como_adversari...,False,,Completions.create() got an unexpected keyword...,LLM_ERROR
20,Quem ganhou mais vezes nos confrontos Dudas v ...,LLM_ERROR,None,None,None,jogador vitorias 0 Migu...,False,,Completions.create() got an unexpected keyword...,LLM_ERROR
21,Quem tem melhor percentagem de vitórias nesta ...,LLM_ERROR,None,None,None,name vitorias jogos perc_vitori...,False,,Completions.create() got an unexpected keyword...,LLM_ERROR
22,Quem tem melhor assiduidade de sempre?,LLM_ERROR,None,None,None,player_id name jogos_jogados di...,False,,Completions.create() got an unexpected keyword...,LLM_ERROR
23,Quem tem melhor percentagem de vitórias de sem...,LLM_ERROR,None,None,None,name vitorias jogos perc_vit...,False,,Completions.create() got an unexpected keyword...,LLM_ERROR
24,Quantas vezes é que o Talinho jogou a 1ª Divisão?,LLM_ERROR,None,None,None,name vezes_primeira_divisao 0 Talinho ...,False,,Completions.create() got an unexpected keyword...,LLM_ERROR

In [141]:
run_sql("""
WITH current_edition AS (
    SELECT e.id, e.name
    FROM editions e
    JOIN divisions d ON d.edition_id = e.id
    WHERE d.has_ended = FALSE
    GROUP BY e.id, e.name
    ORDER BY e.id DESC
    LIMIT 1
),
start_date AS (
    SELECT MIN(d.beginning_datetime) AS edition_start
    FROM divisions d
    WHERE d.edition_id = (SELECT id FROM current_edition)
)
SELECT edition_start
FROM start_date;
""")

/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_48993/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)

  edition_start
0    2025-10-21

In [151]:
d = eval_df.to_dict()
for i in range(25):
    print('--------------------------')
    print(d['question'][i])
    try:
        print(run_sql(d['sql_query'][i]))
    except:
        print(d['error'][i])
    print('--------------------------')

--------------------------
Quem são os 5 jogadores com mais pontos de ranking?
   player_id player_name  ranking_points
0         33        Fred            7089
1         28  Bernardo C            5641
2         12   Miguel SG            4675
3         27    Malafaya            3951
4         13       Dudas            3543
--------------------------
--------------------------
Quantos jogadores existem na liga?
   total_players
0             72
--------------------------
--------------------------
Quais são os nomes das divisões atuais?
                                      name
0   2º Masters de Outono 2025 - 5ª Divisão
1   2º Masters de Outono 2025 - 3ª Divisão
2   2º Masters de Outono 2025 - 4ª Divisão
3   2º Masters de Outono 2025 - 2ª Divisão
4  2º Masters de Outono 2025 - 1ª Divisão
--------------------------
--------------------------
Quando começou a edição mais recente da liga?
  edition_start
0    2025-10-21
--------------------------
--------------------------
Que campos foram usados nos jogos realizados?
      match_id           date_hour  division_id    field  played  winner  \
0           44 2022-01-12 21:30:00            2  Campo 1    True    -1.0
1           45 2022-01-12 21:30:00            2  Campo 1    True     1.0
2           46 2022-01-12 21:30:00            2  Campo 2    True    -1.0
3           47 2022-01-12 21:30:00            2  Campo 2    True     0.0
4           48 2022-01-12 21:30:00            2  Campo 2    True    -1.0
...        ...                 ...          ...      ...     ...     ...
2473      2437 2025-12-02 00:00:00           59  Campo 2   False     NaN
2474      2311 2025-12-02 00:00:00           56  Campo 2   False     NaN
2475      2310 2025-12-02 00:00:00           56  Campo 1   False     NaN
2476      2309 2025-12-02 00:00:00           56  Campo 2   False     NaN
2477      2308 2025-12-02 00:00:00           56  Campo 1   False     NaN

      games_home_team  games_away_team
0                 6.0              8.0
1                 7.0              4.0
2                 5.0              8.0
3                 6.0              6.0
4                 3.0              9.0
...               ...              ...
2473              NaN              NaN
2474              NaN              NaN
2475              NaN              NaN
2476              NaN              NaN
2477              NaN              NaN

[2478 rows x 8 columns]
--------------------------
--------------------------
Quantos jogos já foram jogados?
   total_matches_played
0                  2356
--------------------------
--------------------------
Quais são os jogadores da Divisão 1 e os respetivos pontos?
    player_name  points
0    Bernardo C    15.0
1         Carlo     6.0
2          Cuca     9.0
3         Dinis     6.0
4    Gonçalo PA     6.0
5  Joao perneta    21.0
6         Kikos     9.0
7        Pancho     9.0
--------------------------
--------------------------
Quem ganhou o último jogo da Divisão 2?
               name
0   Afonso Martinho
1     Afonso Xavier
2        Bernardo C
3             Bucas
4           Cameira
..              ...
62             Zema
63         Zé Pedro
64       Zé Pereira
65        Zé Santos
66         Zé Veiga

[67 rows x 1 columns]
--------------------------
--------------------------
Quantas vitórias tem cada jogador da Divisão 3?
              name  vitorias
0    Afonso Xavier         5
1  Lopo Sottomayor         5
2            Pêras         5
3            Trepa         5
4            Diogo         3
5          Freitas         3
6     Tomás Duarte         3
7            Fezas         2
--------------------------
--------------------------
Qual é o jogador com mais jogos jogados?
Execution failed on sql 'WITH current_division AS (
    SELECT d.id
    FROM divisions d
    WHERE d.has_ended = FALSE
    ORDER BY d.edition_id DESC NULLS LAST
    LIMIT 1
),
player_games AS (
    SELECT
        p.id AS player_id,
        COUNT(*) AS total_games
    FROM players_in_match pim
    JOIN matches m ON m.id = pim.match_id
    WHERE m.division_id = (SELECT id FROM current_division)
      AND m.played = TRUE
    GROUP BY p.id
),
players_with_names AS (
    SELECT
        p.id,
        p.name
    FROM players p
)
SELECT
    pwn.name,
    COALESCE(pg.total_games, 0) AS total_games
FROM players_with_names pwn
LEFT JOIN player_games pg ON pg.player_id = pwn.id
ORDER BY total_games DESC, pwn.name
LIMIT 1;': missing FROM-clause entry for table "p"
LINE 10:         p.id AS player_id,
                 ^

--------------------------
--------------------------
Que jogadores têm mais de 100 pontos e jogaram pelo menos 5 partidas?
Empty DataFrame
Columns: [name, full_name, total_points, total_appearances]
Index: []
--------------------------
--------------------------
Quantos jogos foram jogados em cada divisao?
Execution failed on sql 'WITH current_divisions AS (
    SELECT d.id AS division_id
    FROM divisions d
    WHERE d.has_ended = FALSE
),
games_per_division AS (
    SELECT
        d.id AS division_id,
        COUNT(*) AS games_played
    FROM divisions d
    JOIN matches m ON m.division_id = d.id
    WHERE m.played = TRUE
    GROUP BY d.id
),
total_divisions AS (
    SELECT division_id, games_played
    FROM games_per_division
    UNION ALL
    SELECT cd.division_id, 0 AS games_played
    FROM current_divisions cd
    WHERE NOT EXISTS (SELECT 1 FROM games_per_division g WHERE g.division_id = cd.division_id)
)
SELECT
    d.level AS division_rating,
    COALESCE(g.games_played, 0) AS games_played
FROM (
    SELECT division_id,
           CASE
               WHEN division_id IS NULL THEN NULL
               ELSE d.rating
           END AS level
    FROM divisions d
) AS dd
LEFT JOIN total_divisions g ON g.division_id = dd.division_id
ORDER BY dd.level;': column "division_id" does not exist
LINE 27:     SELECT division_id,
                    ^

--------------------------
--------------------------
Quem é o líder atual de cada divisão?
   division_id  player_id      player_name  ranking_points
0           56         83     Chico Castro            27.0
1           57         59             Hugo            18.0
2           58         64  Lopo Sottomayor            15.0
3           59         11          Talinho            19.0
4           60         18     Joao perneta            21.0
--------------------------
--------------------------
Quais foram os três jogadores com mais vitórias na última edição da liga?
   player_id    player_name  wins
0         56      Zé Santos    16
1         63  Afonso Xavier    15
2         28     Bernardo C    14
--------------------------
--------------------------
Que jogador melhorou mais a sua classificação entre duas edições consecutivas?
Execution failed on sql 'WITH latest_closed_edition AS (
    SELECT id
    FROM editions
    WHERE NOT EXISTS (
        SELECT 1
        FROM divisions d
        WHERE d.edition_id = editions.id AND d.has_ended = FALSE
    )
    ORDER BY id DESC
    LIMIT 1
),
previous_edition AS (
    SELECT id
    FROM editions
    WHERE id < (SELECT id FROM latest_closed_edition)
    ORDER BY id DESC
    LIMIT 1
),
division_current AS (
    SELECT id, rating
    FROM divisions
    WHERE edition_id = (SELECT id FROM latest_closed_edition)
      AND has_ended = FALSE
    ORDER BY rating DESC
    LIMIT 1
),
division_prev AS (
    SELECT id, rating
    FROM divisions
    WHERE edition_id = (SELECT id FROM previous_edition)
      AND has_ended = TRUE
    ORDER BY rating DESC
    LIMIT 1
),
improvement AS (
    SELECT
        pid.player_id,
        p.name,
        d_cur.rating AS rating_current,
        d_prev.rating AS rating_previous,
        (d_cur.rating - d_prev.rating) AS improvement_points
    FROM divisions d_cur
    JOIN divisions d_prev ON TRUE
    JOIN players_in_division pid ON pid.division_id = d_cur.id
    JOIN players p ON p.id = pid.player_id
    WHERE d_cur.id = (SELECT id FROM divisions WHERE edition_id = (SELECT id FROM latest_closed_edition) AND has_ended = FALSE)
      AND d_prev.id = (SELECT id FROM divisions WHERE edition_id = (SELECT id FROM previous_edition) AND has_ended = TRUE)
),
ranked AS (
    SELECT
        player_id,
        name,
        improvement_points,
        ROW_NUMBER() OVER (ORDER BY improvement_points DESC, name) AS rn
    FROM improvement
)
SELECT
    name AS jogador,
    improvement_points AS melhoria_na_classificacao
FROM ranked
ORDER BY rn
LIMIT 1;': more than one row returned by a subquery used as an expression

--------------------------
--------------------------
Mostra as próximas partidas (não jogadas) ordenadas por data e divisão.
    match_id  date_time  division_id  division_rating    field
0       2301 2025-11-25           56              125  Campo 2
1       2302 2025-11-25           56              125  Campo 1
2       2303 2025-11-25           56              125  Campo 2
3       2304 2025-11-25           56              125  Campo 1
4       2305 2025-11-25           56              125  Campo 2
5       2300 2025-11-25           56              125  Campo 1
6       2347 2025-11-25           57              250  Campo 2
7       2342 2025-11-25           57              250  Campo 1
8       2343 2025-11-25           57              250  Campo 2
9       2344 2025-11-25           57              250  Campo 1
10      2345 2025-11-25           57              250  Campo 2
11      2346 2025-11-25           57              250  Campo 1
12      2389 2025-11-25           58              500  Campo 2
13      2388 2025-11-25           58              500  Campo 1
14      2387 2025-11-25           58              500  Campo 2
15      2386 2025-11-25           58              500  Campo 1
16      2385 2025-11-25           58              500  Campo 2
17      2384 2025-11-25           58              500  Campo 1
18      2426 2025-11-25           59             1000  Campo 1
19      2427 2025-11-25           59             1000  Campo 2
20      2428 2025-11-25           59             1000  Campo 1
21      2429 2025-11-25           59             1000  Campo 2
22      2430 2025-11-25           59             1000  Campo 1
23      2431 2025-11-25           59             1000  Campo 2
24      2468 2025-11-25           60             2000  Campo 1
25      2473 2025-11-25           60             2000  Campo 2
26      2472 2025-11-25           60             2000  Campo 1
27      2471 2025-11-25           60             2000  Campo 2
28      2470 2025-11-25           60             2000  Campo 1
29      2469 2025-11-25           60             2000  Campo 2
30      2311 2025-12-02           56              125  Campo 2
31      2310 2025-12-02           56              125  Campo 1
32      2309 2025-12-02           56              125  Campo 2
33      2308 2025-12-02           56              125  Campo 1
34      2307 2025-12-02           56              125  Campo 2
35      2306 2025-12-02           56              125  Campo 1
36      2353 2025-12-02           57              250  Campo 2
37      2348 2025-12-02           57              250  Campo 1
38      2349 2025-12-02           57              250  Campo 2
39      2350 2025-12-02           57              250  Campo 1
40      2351 2025-12-02           57              250  Campo 2
41      2352 2025-12-02           57              250  Campo 1
42      2395 2025-12-02           58              500  Campo 2
43      2394 2025-12-02           58              500  Campo 1
44      2393 2025-12-02           58              500  Campo 2
45      2392 2025-12-02           58              500  Campo 1
46      2391 2025-12-02           58              500  Campo 2
47      2390 2025-12-02           58              500  Campo 1
48      2432 2025-12-02           59             1000  Campo 1
49      2433 2025-12-02           59             1000  Campo 2
50      2434 2025-12-02           59             1000  Campo 1
51      2435 2025-12-02           59             1000  Campo 2
52      2436 2025-12-02           59             1000  Campo 1
53      2437 2025-12-02           59             1000  Campo 2
54      2474 2025-12-02           60             2000  Campo 1
55      2475 2025-12-02           60             2000  Campo 2
56      2476 2025-12-02           60             2000  Campo 1
57      2477 2025-12-02           60             2000  Campo 2
58      2478 2025-12-02           60             2000  Campo 1
59      2479 2025-12-02           60             2000  Campo 2
--------------------------
--------------------------
Em que divisões joga o jogador chamado 'Pedro Pacheco'?
Execution failed on sql 'SELECT
    d.id AS division_id,
    d.name AS division_name,
    divs.edition_id,
    e.id AS edition_id,
    e.name AS edition_name
FROM players p
JOIN players_in_division pid ON pid.player_id = p.id
JOIN divisions d ON d.id = pid.division_id
JOIN editions e ON e.id = d.edition_id
JOIN (
    SELECT id, edition_id, name
    FROM editions
) AS divs ON divs.id = d.edition_id
WHERE p.name = 'Pedro Pacheco';': column "edition_id" does not exist
LINE 12:     SELECT id, edition_id, name
                        ^
HINT:  There is a column named "edition_id" in table "d", but it cannot be referenced from this part of the query.

--------------------------
--------------------------
Que jogadores ganharam mais jogos jogando como equipa da casa?
    player_name  home_wins
0  Chico Castro          5
1          Zema          4
2        Falcão          3
3           Cou          2
4      Martinho          2
5         Bucas          0
6       Cameira          0
7  Kiko SS Faro          0
--------------------------
--------------------------
Mostra a classificação média (pontos) dos jogadores por divisão.
         player_name            player_full_name  division_id  \
0       Chico Castro                Chico Castro           56
1             Falcão              António Falcão           56
2               Zema  José Maria Almeida Garrett           56
3                Cou               João Couceiro           56
4           Martinho              Martinho Brito           56
5       Kiko SS Faro                   Kiko Faro           56
6            Cameira                Nuno Cameira           56
7              Bucas                Carlos Bucas           56
8      Fred Baptista          Frederico Baptista           57
9               Hugo               Hugo Mesquita           57
10             Ricas                       Ricas           57
11     Tomás Pacheco               Tomás Pacheco           57
12    Luís Folhadela              Luís Folhadela           57
13             Rodas                       Rodas           57
14  Pedro AR Pacheco            Pedro AR Pacheco           57
15            Rafael           Rafael Patronillo           57
16             Pêras           Francisco Pereira           58
17     Afonso Xavier               Afonso Xavier           58
18             Trepa               Antonio Trepa           58
19   Lopo Sottomayor             Lopo Sottomayor           58
20      Tomás Duarte                Tomás Duarte           58
21             Diogo                  Diogo Leão           58
22           Freitas           Francisco Freitas           58
23             Fezas                  Luis Fezas           58
24           Talinho             Gonçalo Garrett           59
25         Zé Santos                   Zé Santos           59
26   Afonso Martinho             Afonso Martinho           59
27   Diogo Rodrigues             Diogo Rodrigues           59
28       Joao Archer                 Joao Archer           59
29           Damásio                Luís Damásio           59
30          Malafaya              Diogo Malafaya           59
31            Freddy                Freddy Trepa           59
32      Joao perneta              Joao Ferreira            60
33        Bernardo C            Bernardo Castro            60
34            Pancho               Pedro Pacheco           60
35             Kikos        Francisco Sottomayor           60
36              Cuca          Alfredo Magalhães            60
37             Dinis                  Dinis Melo           60
38             Carlo                Carlo Parodi           60
39        Gonçalo PA   Gonçalo Pacheco de Amorim           60

    average_points_per_division
0                          27.0
1                          15.0
2                          15.0
3                          13.0
4                          12.0
5                           4.0
6                           4.0
7                           3.0
8                          18.0
9                          18.0
10                         15.0
11                         15.0
12                         12.0
13                          6.0
14                          6.0
15                          0.0
16                         15.0
17                         15.0
18                         15.0
19                         15.0
20                          9.0
21                          9.0
22                          9.0
23                          6.0
24                         19.0
25                         13.0
26                         12.0
27                         10.0
28                         10.0
29                          9.0
30                          9.0
31                          3.0
32                         21.0
33                         15.0
34                          9.0
35                          9.0
36                          9.0
37                          6.0
38                          6.0
39                          6.0
--------------------------
--------------------------
Que jogadores jogaram mais vezes como adversários?
   player_id   player_name  adversaries_count
0         31          Zema               1557
1         79       Cameira                378
2         76           Cou                351
3         61      Martinho                324
4         78  Kiko SS Faro                297
5         40         Bucas                234
6         83  Chico Castro                189
7         84        Falcão                108
--------------------------
--------------------------
Quem ganhou mais vezes nos confrontos Dudas v Miguel SG?
Execution failed on sql 'WITH current_division AS (
    SELECT id
    FROM divisions
    WHERE rating = 2000
      AND has_ended = FALSE
    ORDER BY id DESC
    LIMIT 1
),
duplas AS (
    SELECT
        m.id AS match_id,
        m.winner,
        m.date_hour,
        m.division_id
    FROM matches m
    WHERE m.division_id = (SELECT id FROM current_division)
      AND m.played = TRUE
),
dudas AS (
    SELECT m.match_id
    FROM matches m
    JOIN players_in_match pim_home ON pim_home.match_id = m.id AND LOWER(pim_home.team) = 'home'
    JOIN players p_home ON p_home.id = pim_home.player_id
    JOIN players_in_match pim_away ON pim_away.match_id = m.id AND LOWER(pim_away.team) = 'away'
    JOIN players p_away ON p_away.id = pim_away.player_id
    WHERE (
        (m.winner = 1 AND LOWER(pim_home.team) = 'home') OR
        (m.winner = -1 AND LOWER(pim_away.team) = 'away') OR
        (m.winner = 0) -- consider draws if needed; but likely ignore
    )
),
miguel_sg AS (
    SELECT m.id AS match_id
    FROM matches m
    JOIN players_in_match pim_home ON pim_home.match_id = m.id AND LOWER(pim_home.team) = 'home'
    JOIN players p_home ON p_home.id = pim_home.player_id
    JOIN players_in_match pim_away ON pim_away.match_id = m.id AND LOWER(pim_away.team) = 'away'
    JOIN players p_away ON p_away.id = pim_away.player_id
    WHERE (
        (p_home.name ILIKE '%Dudas%' AND LOWER(pim_home.team) = 'home') OR
        (p_home.name ILIKE '%Miguel SG%' AND LOWER(pim_home.team) = 'home')
    )
    -- The above is a placeholder to identify matches between the two players.
),
goleadores AS (
    SELECT
        p.name AS player_name,
        COUNT(*) FILTER (WHERE m.winner = 1 AND LOWER(pim_home.team) = 'home') +

/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_48993/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_48993/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_48993/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_48993/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_48993/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_48993/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_48993/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_48993/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_48993/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_48993/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_48993/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_48993/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_48993/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_48993/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_48993/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_48993/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_48993/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_48993/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)
/var/folders/9f/md89x3zj38j9zh0x6v40xsq80000gp/T/ipykernel_48993/2254763955.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, conn)

In [150]:
d.keys()

dict_keys(['question', 'status', 'sql_query', 'raw_llm_output', 'result', 'ground_truth', 'pass', 'judge_reason', 'error', 'failure_reason'])